$red: #7D1128; //claret - landing page font color/ all pages heading color
$darkestGray: #2D2D2A; //charlston green - landing page background
$mediumgGray: #A9ACA9; //dark medium gray - background color?
$darkGray: #444545; //outer space
$darkoffGray: #4C4C47; //dark liver