$red: #7D1128; //claret - landing page font color/ all pages heading color
$darkestgray: #2D2D2A; //charlston green - landing page background
$mediumgray: #A9ACA9; //dark medium gray - background color?
$darkgray: #444545; //outer space
$darkoffgray: #4C4C47; //dark liver