// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	body {
		background-color: $mediumgGray !important;
		color: $red !important;
		margin: 0;
		padding: 0;
	}

	.typed-wrap {
		display: block;
		text-align: center;
		// border: 4px solid #ecf0f1;
		width: auto;
		height: auto;
		// padding: 0.5em;
		// margin: auto;
		font-size: 3em;
		/*centers it in the .banner*/
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);

		h1 {
			display: inline;
			margin: auto;
		}
	}
	
	/*Add custom cursor so it auto inherits font styles*/
	.typed::after {
		content: '|';
		display: inline;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
	}
	
	/*Removes cursor that comes with typed.js*/
	.typed-cursor{
	   opacity: 0;
		display: none;
	}
	/*Custom cursor animation*/
	@keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}

	#home-page {
		.navbar {
			font-size: 1em;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.typed-wrap {
		font-size: 2em;
	}
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }